<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Task</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <!--Inicio de registro de tareas-->
    <div class="task-register-container">
        <h2>Registrar Nueva Tareas</h2>
        <form class="task-form">
            <div class="form-group-task">
                <div class="item-task-1">
                    <label for="task-title">Titulo</label>
                    <input type="text" id="task-title" name="task-title" required placeholder="Titulo de la tarea">
                </div>
                <div>
                    <label for="task-date">Fecha</label>
                    <input type="date" id="task-date" name="task-date" required>
                </div>
                <div>
                    <label for="task-time">Hora</label>
                    <input type="time" name="task-time" id="task-time" required>
                </div>
            </div>
            <label for="task-description">Descripcion</label>
            <textarea id="task-description" name="task-description" required
                placeholder="Descripcion de la tarea"></textarea>
            <button type="submit">Añadir Tarea</button>
        </form>
    </div>
    <!--Fin de registro de tareas-->
    <!--Inicio de listado de tareas-->
    <div class="task-list-container">
        <h2>Lista de Tareas</h2>
        <ul id="task-list" class="task-list">
            <!-- Aquí se agregarán las tareas -->
            <li>
                <div class="task-info">
                    <span class="task-title">Estudiar para el examen</span>
                    <span class="task-description">De metodologia de desarrollo de software</span>
                    <span class="task-date">2025-01-25</span>
                    <span class="task-time">14:30 pm</span>
                </div>
                <div class="task-check">
                    <input type="checkbox" name="task-done" id="task-done">
                    <label for="task-done">Hecho</label>
                </div>
            </li>
            <li>
                <div class="task-info">
                    <span class="task-title">Estudiar para el examen</span>
                    <span class="task-description">De metodologia de desarrollo de software</span>
                    <span class="task-date">2025-01-25</span>
                    <span class="task-time">14:30 pm</span>
                </div>
                <div class="task-check">
                    <input type="checkbox" name="task-done" id="task-done">
                    <label for="task-done">Hecho</label>
                </div>
            </li>
        </ul>
    </div>
    <!--Fin de listado de tareas-->
</body>

</html>