<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <!--Elemento de alertas-->
    <div class="alert-container">
    </div>
    <!--Elemento de carga o loader del app-->
    <div class="loading-screen" id="loading-screen">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
    <!--Inicio Login-->
    <div class="login-container">
        <h2>Iniciar Sesion</h2>
        <form class="login-form" id="login-form" autocomplete="off">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required placeholder="Ingresa tu usuario">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required placeholder="Ingresa tu contraseña">
            <button type="submit">Iniciar Sesion</button>
        </form>
        <div class="foot-new-user">
            <p>¿No estas registrado?</p>
            <a href="./app-newUser.html">Registrate aqui</a>
        </div>
    </div>
    <script src="../assets/js/alert.js"></script>
    <!--Fin Login-->
    <script src="../assets/js/functions_login.js"></script>

</body>

</html>